:root {
  --background: #000000;
  --glow: #3efd45;
  --purp: #870198;
}

@font-face {
  font-family: "CaptainHowdy";
  src: url("./fonts/CaptainHowdy.woff");
}

.App {
  text-align: center;
  padding-top: 64px;
  margin: 0 auto;
}

body {
  background-color: var(--background);
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: "CaptainHowdy";
  color: var(--glow);
  font-size: 2rem;
}

h3 {
  font-family: "CaptainHowdy";
  color: white;
  font-size: 1.5rem;
}

.icon-green {
  color: var(--glow) !important;
}

.icon-purple {
  color: var(--purp);
}

.icon-black {
  color: var(--background);
}

.icon-white {
  color: white;
}

